{% extends "base.html" %}
{%block title%}Create{%endblock%}
{%block style%}
<style>
    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
    }

    .about-box {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        text-align: center;
    }
</style>
{%endblock%}
{% block content %}
<a href="/"><img src="/static/images/arrow-left-circle.svg" class="mt-5" alt="" height="60rem"></a>

<div class="container-fluid about-container">
    <div class="about-box">
      <h2>About Us</h2>
      <p>
        This is a Social Media platform created by Nata Gvanceladze while 
        TBC Backend Python Course.
      </p>
      <a href="https://www.tbceducation.ge/"><img height="100px" src="/static/images/tbc-logo.png" alt="TBC logo"></a>
    </div>
  </div>
  

{% endblock content %}